Source: exoscale-automysqlbackup
Maintainer: Exoscale <ops@exoscale.ch>
Build-Depends: debhelper (>= 9), lsb-release

Package: exoscale-automysqlbackup
Architecture: any
Description: Automatic MySQL Backup
